*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
html{
    height: 100vh;
    width: 100vw;
}

h1{
    font-size: 86px;
}

h2{
    font-size: 42px;
}

p{
    line-height: 1.68rem;
    color: #A9A9A9;
    font-weight: 500;
}